---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-200">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" type="image/ico" href="https://raw.githubusercontent.com/jeremiah-carlson/jeremiah-carlson/main/assets/CircleLogo.ico" />
		<link rel="icon" type="image/ico" href="https://raw.githubusercontent.com/jeremiah-carlson/jeremiah-carlson/main/assets/CircleLogo.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			rgb(24, 22, 22) 60%
		);
	}
</style>
